body {
    font-family: Arial, sans-serif;
    margin: 20px; 
    background: linear-gradient(to bottom, #000, #222);
    color: #fff;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}
h2 {
    margin-top: 30px;
    font-size: 28px;
}
/* Styles for upload-excel.html template */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
input[type="file"] {
    margin-bottom: 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
input[type="file"]:hover {
    background-color: #444;
    transform: translateY(-2px);
}
input[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #00d9ffdd;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Styles for view-data.html template */

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
}

th {
    background: linear-gradient(to right, #333, #111);
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:hover {
    background-color: #555;
}

/* Styles for a more professional appearance */
body {
    line-height: 1.8;
}

/* Improved button style */
input[type="submit"] {
    font-size: 18px;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Add subtle border animation on table header hover */
th:hover {
    border-color: #fff;
    animation: border-pulse 1s infinite;
}

@keyframes border-pulse {
    0% {
        border-color: #fff;
    }
    50% {
        border-color: #b700ff;
    }
    100% {
        border-color: #fff;
    }
}

